
          /*
            Aquí hemos diseñado el color de los encabezados
            */
            h1, h2, h3 {
                color: rgb(246, 169, 26);
                background-color: blue;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            }
            body {
              background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.es%2Fvector-premium%2Ffondo-pantalla-ilustracion-vectorial-fondo-abstracto-mosaico-cuadricula-azul-color-azul-claro_19823174.htm&psig=AOvVaw3-vNxJwXNI3cqlosXPw7y4&ust=1675610438894000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCMjxiLmV_PwCFQAAAAAdAAAAABAI)
            }
